{% extends 'base.html' %}
{% block content %}
<h2>
  Patients 
  <a class="btn btn-sm btn-success float-end" href="/patients/add/">Add</a>
</h2>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Contact</th>
    <th>Registered At</th> <!-- ✅ New column -->
    <th>BP</th>
    <th>Heart Rate</th>
    <th>Sugar</th>
    <th>Temp</th>
    <th>Risk</th>
    <th>Actions</th>
  </tr>
  {% for p in patients %}
  <tr>
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.gender }}</td>
    <td>{{ p.contact }}</td>
    <td>{{ p.registered_at|date:"Y-m-d H:i" }}</td> <!-- ✅ Show date -->
     <td>{{ p.blood_pressure }}</td>
    <td>{{ p.heart_rate }}</td>
    <td>{{ p.sugar_level }}</td>
    <td>{{ p.temperature }}</td>
   <td>
    {% if p.risk_level == "High" %}
      <span class="badge bg-danger">High</span>
    {% elif p.risk_level == "Moderate" %}
      <span class="badge bg-warning text-dark">Moderate</span>
    {% else %}
      <span class="badge bg-success">Low</span>
    {% endif %}
  </td>
    <td>
      <a class="btn btn-sm btn-warning" href="/patients/edit/{{ p.id }}/">Edit</a>
      <a class="btn btn-sm btn-danger" href="/patients/delete/{{ p.id }}/">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
